interactions:
- request:
    body: '{"parent": {"type": "page_id", "page_id": "08a6286e3aaf4adcbee89ba2537d1954"},
      "title": [{"type": "text", "text": {"content": "test9"}}], "properties": {"Name":
      {"title": {}}, "Description": {"rich_text": {}}, "In stock": {"checkbox": {}},
      "Food group": {"select": {"options": [{"name": "\ud83e\udd66 Vegetable", "color":
      "green"}, {"name": "\ud83c\udf4e Fruit", "color": "red"}, {"name": "\ud83d\udcaa
      Protein", "color": "yellow"}]}}, "Price": {"number": {"format": "dollar"}},
      "Last ordered": {"date": {}}, "Store availability": {"type": "multi_select",
      "multi_select": {"options": [{"name": "Duc Loi Market", "color": "blue"}, {"name":
      "Rainbow Grocery", "color": "gray"}, {"name": "Nijiya Market", "color": "purple"},
      {"name": "Gus''s Community Market", "color": "yellow"}]}}, "+1": {"people":
      {}}, "Photo": {"files": {}}}, "icon": {"type": "emoji", "emoji": "\ud83c\udf89"}}'
    headers:
      authorization:
      - Bearer secret_xkLbxFiC6CyeZ92ZnSkh65N5S8FTI90YCBuYNzk7ctT
      content-type:
      - application/json
      notion-version:
      - '2021-08-16'
    method: POST
    uri: https://api.notion.com/v1/databases
  response:
    content: "{\"object\":\"database\",\"id\":\"5cc663f1-1e17-4d11-90cc-faa21095343d\",\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F389\"},\"created_time\":\"2021-10-15T14:38:00.000Z\",\"last_edited_time\":\"2021-10-15T14:38:00.000Z\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"test9\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"test9\",\"href\":null}],\"properties\":{\"Price\":{\"id\":\"%40mkR\",\"name\":\"Price\",\"type\":\"number\",\"number\":{\"format\":\"dollar\"}},\"In
      stock\":{\"id\":\"NO_S\",\"name\":\"In stock\",\"type\":\"checkbox\",\"checkbox\":{}},\"Description\":{\"id\":\"YGPQ\",\"name\":\"Description\",\"type\":\"rich_text\",\"rich_text\":{}},\"Last
      ordered\":{\"id\":\"%60ros\",\"name\":\"Last ordered\",\"type\":\"date\",\"date\":{}},\"+1\":{\"id\":\"h~vF\",\"name\":\"+1\",\"type\":\"people\",\"people\":{}},\"F[...]
